### 1. Ler e exibir um arquivo CSV usando pandas

In [0]:
import numpy as np
import pandas as pd

df = spark.read.csv("/FileStore/tables/Retail-1.csv", header=True, sep=',')
df = df.toPandas()

df.head(10)

,invoice_no,stock_code,description,quantity,invoice_date,unit_price,customer_id,region
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,12/1/10 8:26,"2,55",17850,United Kingdom
1,536365,71053,WHITE METAL LANTERN,6,12/1/10 8:26,"3,39",17850,United Kingdom
2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,12/1/10 8:26,"2,75",17850,United Kingdom
3,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,12/1/10 8:26,"3,39",17850,United Kingdom
4,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,12/1/10 8:26,"3,39",17850,United Kingdom
5,536365,22752,SET 7 BABUSHKA NESTING BOXES,2,12/1/10 8:26,"7,65",17850,United Kingdom
6,536365,21730,GLASS STAR FROSTED T-LIGHT HOLDER,6,12/1/10 8:26,"4,25",17850,United Kingdom
7,536366,22633,HAND WARMER UNION JACK,6,12/1/10 8:28,"1,85",17850,United Kingdom
8,536366,22632,HAND WARMER RED POLKA DOT,6,12/1/10 8:28,"1,85",17850,United Kingdom
9,536367,84879,ASSORTED COLOUR BIRD ORNAMENT,32,12/1/10 8:34,"1,69",13047,United Kingdom

In [0]:
display(dbutils.fs.ls('/FileStore/tables/'))

path,name,size,modificationTime
dbfs:/FileStore/tables/Retail-1.csv,Retail-1.csv,45571666,1682003275000

### 2. Selecionar colunas espec√≠ficas de um DataFrame usando pandas

In [0]:
colunas_selecionadas = ['region', 'description']
df_selecionado = df[colunas_selecionadas]

df_selecionado.head()

,region,description
0,United Kingdom,WHITE HANGING HEART T-LIGHT HOLDER
1,United Kingdom,WHITE METAL LANTERN
2,United Kingdom,CREAM CUPID HEARTS COAT HANGER
3,United Kingdom,KNITTED UNION FLAG HOT WATER BOTTLE
4,United Kingdom,RED WOOLLY HOTTIE WHITE HEART.

### 3. Filtrar linhas com base em uma condi√ß√£o usando pandas

In [0]:
df.loc[df['region'] == 'United Kingdom']

,invoice_no,stock_code,description,quantity,invoice_date,unit_price,customer_id,region
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,12/1/10 8:26,"2,55",17850,United Kingdom
1,536365,71053,WHITE METAL LANTERN,6,12/1/10 8:26,"3,39",17850,United Kingdom
2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,12/1/10 8:26,"2,75",17850,United Kingdom
3,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,12/1/10 8:26,"3,39",17850,United Kingdom
4,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,12/1/10 8:26,"3,39",17850,United Kingdom
...,...,...,...,...,...,...,...,...
541889,581585,22466,FAIRY TALE COTTAGE NIGHT LIGHT,12,12/9/11 12:31,"1,95",15804,United Kingdom
541890,581586,22061,LARGE CAKE STAND HANGING STRAWBERY,8,12/9/11 12:49,"2,95",13113,United Kingdom
541891,581586,23275,SET OF 3 HANGING OWLS OLLIE BEAK,24,12/9/11 12:49,"1,25",13113,United Kingdom
541892,581586,21217,RED RETROSPOT ROUND CAKE TINS,24,12/9/11 12:49,"8,95",13113,United Kingdom
541893,581586,20685,DOORMAT RED RETROSPOT,10,12/9/11 12:49,"7,08",13113,United Kingdom

### 4. Agrupar dados com base em uma coluna usando pandas

In [0]:
df_agrupado = df.groupby("invoice_no").agg({'quantity': 'sum'}).reset_index()

print(df_agrupado)

      invoice_no       quantity
0         536365        6686626
1         536366             66
2         536367  3266866323344
3         536368           6333
4         536369              3
...          ...            ...
25895    C581484         -80995
25896    C581490         -12-11
25897    C581499             -1
25898    C581568             -5
25899    C581569           -1-5

[25900 rows x 2 columns]

### 5. Usar a fun√ß√£o max em alguma coluna do DataFrame

In [0]:
max_unit_price = df['unit_price'].max()

print(max_unit_price)

99,96